body 	{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #EEE;
	font-family: Arial, Helvetica, sans-serif;
	font-color: black;
}

header	{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	padding-top: 40px;
	border-top-style: solid;
	border-top-width: 4px;
	border-top-color: black;
	text-align: center;
	font-weight: bold;
}

h1	{
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 30px;
	margin-top: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: black;
}

h2 	{
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 10px;
}
h3 	{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 40px;
	font-size: 16px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 4px;
}

p 	{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 0px;
	font-family: "Times New Roman", Georgia, Serif;
}

li	{
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 0px;
}

footer	{
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 30px;
	padding-bottom: 40px;
	text-align: center;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: black;
}

