header {
	text-align: center;
	font-size: 20;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

head {
	background-color: #EEE;
}

body {
	background-color: #EEE;
}

h1{
	text-align: center;
}

